<p style="color: green"><%= notice %></p>

<h1><%= @article.title %></h1>

<p><%= @article.body %></p>



<%= render @article %>

<ul>
  <li><%= link_to "Edit this article", edit_article_path(@article) %></li> 
  <li><%= link_to "Back to articles", articles_path %></li>

  <li><%= button_to "Destroy this article", @article, method: :delete %></li>
</ul>
