<div id="<%= dom_id transacao %>">
  <p>
    <strong>Descricao:</strong>
    <%= transacao.descricao %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= transacao.tipo %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= transacao.valor %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= transacao.data %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= transacao.cliente_id %>
  </p>

</div>
